@model SampleDemoMVC.Models.Users
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<form asp-action="Index" class="form-paginated">
    <div class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Beneficiary ID</label>
                <select class="form-control"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Status ID</label>
                <select class="form-control">
                    <option value="">Select</option>
                </select>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Sex ID</label>
                <select class="form-control getConstituencies">
                    <option value="">Select</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Relationship ID</label>
                <select class="form-control getConstituencies">
                    <option value="">Select</option>
                </select>
            </div>
        </div>
    </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-success btn-filter btn-block  btn-sm">
                    <i class="fa fa-filter"></i> Filter
                </button>
                <button type="button" class="btn btn-default btn-sm btn-reset btn-block">
                    <i class="fa fa-eraser"></i> Clear
                </button>
            </div>
</form>

@*<div style="height:600px;width:auto">
        <bold-report-viewer id="viewer" report-path="/DemoReports/ActiveHouseHOldMembers_v15.rdl" report-service-url="api/ReportViewer" processing-mode="Remote" report-server-url="http://197.232.65.10:2026/Reports/browse/"></bold-report-viewer>
    </div>*@
